@model OnlineShop.Models.Card

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
